body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #222; /* Fondo negro */
  color: #ccc; /* Texto gris claro */
  display: flex;
  flex-direction: column; /* Ajuste necesario para que el footer quede abajo */
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Cambié height a min-height para asegurarnos de que la página ocupe al menos toda la altura de la ventana */
}

.app-container {
  width: 70%;
  background: #333; /* Gris oscuro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sutil sombra */
  padding-top: 20px; /* Ajustar el espacio para el contenido debajo del navbar */
  padding-bottom: 50px; /* Ajustar el espacio para el contenido encima del footer */
  margin-bottom: 110px; /* Ajustar margen inferior para dispositivos móviles */
}

h1, h2 {
  color: #e1c699; /* Dorado claro */
}

#items-container, #transfer-form {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  color: greenyellow; /* Gris medio */
}

li {
  margin-bottom: 10px;
}

label, select, button {
  display: block;
  margin-bottom: 10px;
  color: #ddd; /* Gris claro */
}

button, #export-button {
  background: #cf5c36; /* Rojo rojizo */
  color: #fff; /* Texto blanco */
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover, #export-button:hover {
  background: #a74a2e; /* Rojo oscuro */
}

select, input {
  background: #444; /* Gris oscuro */
  color: #ccc; /* Texto gris claro */
  padding: 8px;
  border: 1px solid #666; /* Borde gris */
  border-radius: 4px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  position: fixed; /* Fijar el footer en la parte inferior */
  bottom: 0;
}

/* Estilos para el navbar */
.app-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  position: fixed; /* Fijar el navbar en la parte inferior */
  bottom: 0;
  left: 0; /* Asegurar que el navbar comience desde el borde izquierdo */
  right: 0; /* Asegurar que el navbar termine en el borde derecho */
  z-index: 999;
}

.app-navbar a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  flex-grow: 1; /* Distribuir el espacio disponible de manera equitativa */
  text-align: center; /* Centrar el texto en dispositivos móviles */
}

.app-navbar a:hover {
  color: #99CC99; /* Cambio de color al pasar el ratón */
}

/* Ajustes para dispositivos móviles */
@media screen and (max-width: 768px) {

  /* Ajustes para el navbar en dispositivos móviles */
  .app-navbar {
      display: flex;
      flex-wrap: wrap; /* Permite que los elementos se acomoden en filas */
      justify-content: space-around; /* Espacio uniforme entre los elementos */
      width: 100%;
      background-color: #333;
      position: fixed;
      bottom: 0;
      z-index: 999;
  }
  
  .app-navbar a {
      margin: 0.5em; /* Espacio alrededor de cada elemento */
      text-decoration: none;
      color: white;
      font-weight: bold;
      transition: color 0.3s ease;
      width: 100%; /* Ocupar todo el ancho disponible */
      text-align: center; /* Centrar el texto */
  }

}











  
  