body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #222; /* Fondo negro */
  color: #ccc; /* Texto gris claro */
  display: flex;
  flex-direction: column; /* Ajuste necesario para que el footer quede abajo */
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Cambié height a min-height para asegurarnos de que la página ocupe al menos toda la altura de la ventana */
}

.app-container {
  width: 80%;
  background: #333; /* Gris oscuro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sutil sombra */
}

h1, h2 {
  color: #e1c699; /* Dorado claro */
}

#items-container, #transfer-form {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  color: greenyellow; /* Gris medio */
}

li {
  margin-bottom: 10px;
}

label, select, button {
  display: block;
  margin-bottom: 10px;
  color: #ddd; /* Gris claro */
}

button, #export-button {
  background: #cf5c36; /* Rojo rojizo */
  color: #fff; /* Texto blanco */
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover, #export-button:hover {
  background: #a74a2e; /* Rojo oscuro */
}

select, input {
  background: #444; /* Gris oscuro */
  color: #ccc; /* Texto gris claro */
  padding: 8px;
  border: 1px solid #666; /* Borde gris */
  border-radius: 4px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: auto; /* Esto coloca el pie de página al final de la página */
}















  
  